<html>
  <head>
    <title>PAGE POTIN</title>
  </head>

  <body>
    <h3>Vous avez choisi d'afficher le potin numéro <%=params['id']%></h3>
    <p>
      <em>Son auteur est:</em> <%= gossip.author %><br/>
      <em>Le contenu du potin est:</em> <%= gossip.content %>
    </p>
    <a href="/">Lien pour revenir à la page des potins</a>
  <body>

</html>



